@import "tailwindcss";

/* Theme Color Variables */
.theme-dark {
  --theme-dark-text: #fffce1;
  --theme-dark-background: #0e100f;
  --theme-text-dim: rgba(255, 252, 225, 0.6);
  --theme-border: rgba(255, 252, 225, 0.1);
  --theme-scrollbar-thumb: #fffce1;
}

.theme-light {
  --theme-light-text: #0e100f;
  --theme-light-background: #fffce1;
  --theme-text-dim: rgba(14, 16, 15, 0.6);
  --theme-border: rgba(14, 16, 15, 0.1);
  --theme-scrollbar-thumb: #0e100f;
}

html {
  background-color: var(--theme-dark-background, var(--theme-light-background));
  color: var(--theme-dark-text, var(--theme-light-text));
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background: var(--theme-scrollbar-thumb);
  border-radius: 4px;
}